<meta
  name="description"
  content="Deploy your websites in less than 60 seconds."
/>
<meta property="og:title" content="Moshify... " />
<meta property="og:description" content="Moshify..." />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://moshified.com" />

<a href="#" class="link-arrow">Learn more</a>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/styles.css" />

<!-- AOS - Animate on scroll library (a Javascript Library for Animation) -->

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
