<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      sunt nam, minima, dicta laborum a deserunt quia accusamus ipsum vero
      modi dignissimos earum ad omnis delectus eius magnam veritatis atque.
    </p>
    <footer>
      <div class="media">
           <div class="media__image quote__icon">
                  <svg class="icon icon--primary quote__line">
                 <use xlink:href="images/sprite.svg#line"></use>
               </svg>
             </span>
           </div>
           <div class="media__body">
             <h3 class="media__title quote__author">Jhone Lumeo</h3>
             <p class="quote__company">ABC Company</p>
           </div>
         </div>
    </footer>
  </blockquote>